.container{
  height: 100%;
}
.record-container{
  margin:20px 0;
}
.record-content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e4e4e4;
}
.record-content .record-back{
  line-height: 75px;
  font-size: 16px;
  color:#999;
}
.record-comment{
  margin-top:35px;
}
.record-show{
  display: inline-block;
  padding-right: 30px;
}
.record-item{
  margin-bottom: 30px;
}
.record-item span{
  font-size: 18px;
  color: #333;
}
.record-staute{
  margin-bottom: 30px;
}
.record-staute span{
  display:block;
  font-size: 18px;
  color: #333;
}
.input-content, .input-role{
  width: 500px;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  color: #333;
}
.record-staute .remark{
  width: 500px;
  height: 60px;
  overflow: hidden;
  font-size: 18px;
  color: #333;
  outline: none;
}
.record-log{
  display: inline-block;
  vertical-align: top;
}
.buttom-item{
  width: 500px;
  height: 45px;
  line-height: 45px;
  outline: none;
}
.buttom-item .save-buttom{
  width: 100%;
  height: 100%;
  background-color:#e4e4e4;
  font-size: 18px;
  color: #333;
  outline: none;
}
.record-log .log-list{
  margin-bottom: 15px;
}
.log-list span{
  font-size: 18px;
  color:#333;
  display: block;
}
.record-add{
  margin-bottom: 15px;
}
.record-add .record-remark{
  width: 500px;
  height: 60px;
  font-size: 18px;
  color: #333;
  outline: none;
}
.record-buttom{
  width: 500px;
  height: 45px;
}
.record-buttom .record-buttom{
  width: 100%;
  height: 100%;
  background-color: #e4e4e4;
  color:#333;
  font-size: 18px;
  outline: none;
}






